In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
data = pd.read_csv("./../data_sets/air-pollution/Train/Train.csv")

In [4]:
data.head()

   feature_1  feature_2  feature_3  feature_4  feature_5     target
0   0.293416  -0.945599  -0.421105   0.406816   0.525662 -82.154667
1  -0.836084  -0.189228  -0.776403  -1.053831   0.597997 -48.897960
2   0.236425   0.132836  -0.147723   0.699854  -0.187364  77.270371
3   0.175312   0.143194  -0.581111  -0.122107  -1.292168  -2.988581
4  -1.693011   0.542712  -2.798729  -0.686723   1.244077 -37.596722

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1600 entries, 0 to 1599
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   feature_1  1600 non-null   float64
 1   feature_2  1600 non-null   float64
 2   feature_3  1600 non-null   float64
 3   feature_4  1600 non-null   float64
 4   feature_5  1600 non-null   float64
 5   target     1600 non-null   float64
dtypes: float64(6)
memory usage: 75.1 KB

In [6]:
data.describe()

,feature_1,feature_2,feature_3,feature_4,feature_5,target
count,1600.000000,1600.000000,1600.000000,1600.000000,1600.000000,1600.000000
mean,0.004114,-0.027604,-0.044459,-0.042408,0.012005,0.318835
std,0.997338,1.021776,1.011768,1.017189,0.978654,110.741562
min,-3.380125,-3.314844,-3.153118,-3.250169,-2.851707,-379.829794
25%,-0.647165,-0.705030,-0.706385,-0.709504,-0.615880,-71.897040
50%,-0.000360,-0.043769,-0.041272,-0.029756,-0.013527,-0.610665
75%,0.682118,0.645442,0.639130,0.646290,0.650089,71.226603
max,3.287205,3.438895,3.216176,2.985410,3.321770,337.643014

In [9]:
# data is already standarized and normalised

In [10]:
from sklearn.linear_model import LinearRegression

In [11]:
lr = LinearRegression()

In [14]:
data.shape

(1600, 6)

In [15]:
X = data.iloc[:,:-1].values
y = data.iloc[:,-1].values

In [16]:
print(X.shape)
print(y.shape)

(1600, 5)
(1600,)

In [18]:
lr.fit(X,y)

LinearRegression()

In [19]:
lr.score(X,y)

0.9660939669975617

In [20]:
data = pd.read_csv("./../data_sets/air-pollution/Test/Test.csv")

In [21]:
data.describe()

        feature_1   feature_2   feature_3   feature_4   feature_5
count  400.000000  400.000000  400.000000  400.000000  400.000000
mean    -0.021804   -0.012806   -0.010988   -0.034864    0.031016
std      0.979163    1.021580    1.041857    1.034507    0.937469
min     -2.564288   -2.992849   -2.767818   -3.041550   -2.493446
25%     -0.784581   -0.640843   -0.780267   -0.730596   -0.589199
50%     -0.004759   -0.077186   -0.109300   -0.040752    0.047327
75%      0.681777    0.738286    0.754063    0.656363    0.586405
max      3.244870    2.591723    2.909357    2.662180    2.870382

In [28]:
y_pred = pd.DataFrame(lr.predict(data),columns=["target"])

In [34]:
y_pred.index.name = "Id"

In [36]:
y_pred.head()

        target
Id
0   114.583689
1   118.012815
2   -21.739852
3   -43.936899
4   -95.914898

In [37]:
y_pred.to_csv("prediction.csv")