# Chemichal classifier

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
X = pd.read_csv("./../data_sets/chemichal-classifier/Training_Data/Logistic_X_Train.csv")

In [3]:
y = pd.read_csv("./../data_sets/chemichal-classifier/Training_Data/Logistic_Y_Train.csv")

In [4]:
X.head()

         f1        f2        f3
0 -1.239375  0.749101 -0.528515
1 -1.036070  0.801436 -1.283712
2 -0.615579  1.579521 -1.391927
3  1.335978  1.348651  1.433564
4  0.658925  1.300019  0.571603

In [5]:
X.describe()

                f1           f2           f3
count  3000.000000  3000.000000  3000.000000
mean      0.007453     0.999286     0.029487
std       1.334138     1.023853     1.209558
min      -3.470773    -3.692615    -3.286481
25%      -1.045220     0.325665    -0.986959
50%      -0.144115     1.004693     0.225411
75%       1.052555     1.693354     1.041319
max       3.741376     4.185015     2.706148

In [6]:
y.head()

   label
0      1
1      1
2      1
3      0
4      0

In [7]:
X = X.values
y = y.values
y = y.reshape((-1,))
print(X.shape)
print(y.shape)

(3000, 3)
(3000,)

In [8]:
from sklearn.linear_model import LogisticRegression

In [9]:
model = LogisticRegression()

In [10]:
model.fit(X,y)

LogisticRegression()

In [11]:
model.score(X,y)

0.9953333333333333

In [12]:
X_test = pd.read_csv("./../data_sets/chemichal-classifier/Test_Cases/Logistic_X_Test.csv")

In [13]:
y_pred = model.predict(X_test)

In [14]:
y_pred = pd.DataFrame(y_pred,columns=["label"])

In [16]:
y_pred.to_csv("Chemichal_classification_prediction.csv",index=False)